body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #333;
  text-align: center;
  font-size: 24px;
}

.btn-container, #import-form {
  margin: 20px 0;
  text-align: center;
}

button.btn {
  color: white;
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #45a049;
}

input[type="file"] {
  margin-top: 10px;
  margin-bottom: 15px;
}

form {
  display: inline-block;
  width: 100%;
}

.btn-export {
  margin-bottom: 20px;
}

.btn-import {
  padding: 10px 20px;
}

/* Estilos para mejorar la visualización en dispositivos móviles */
@media (max-width: 768px) {
  main {
      width: 90%;
  }

  button.btn {
      width: 90%;
      padding: 12px 0;
  }
}
