table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #66b469;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Color de fondo si lo necesitas */
  color: #333;
}

h2 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding-left: 30px;
}