/* public/css/GestorHabitosStyle.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .button-container {
    display: block;
    justify-content: column;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }
  
  .habit-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .habit-table th, .habit-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .habit-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .habit-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    padding-left: 30px;
  }

  table {
    width: 90%; 
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    text-align: left;
  }
  
  table th, table td {
    padding: 10px 8px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #66b469;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
    
    table th, table td {
      padding: 8px 5px;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }