body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #333;
}

h3 {
  font-size: 20px;
  color: #333;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66b469;
  padding: 10px;
  box-sizing: border-box;
}

header img {
  max-width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-container {
  width: 90%;
  margin: 0 auto 20px auto;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  color: black;
}

table th {
  background-color: #66b469;
  color: white;
}

@media screen and (max-width: 768px) {
  header img {
    max-width: 70px;
  }
  
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  table {
    font-size: 14px;
  }

  table th, table td {
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  header img {
    max-width: 70px; 
  }

  h2, h3 {
    font-size: 18px; 
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  table {
    font-size: 14px;
  }

  table th, table td {
    padding: 8px;
  }
}
