<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/crearObjetivosStyle.css">
    
    <!-- Incluir CSS de Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partial/_header') %>  <!-- Incluir el header -->

    <main>
        <h2>Crear un nuevo objetivo</h2>

        <!-- Formulario para crear una objetivo -->
        <form id="objetivo-form">

            <label for="nombre">Nombre del objetivo:</label>
            <input type="text" id="nombre" name="objetivoName" required placeholder="Nombre del objetivo">
            <input type="number" id="repeticiones" name="cantidad" style="display: block;" placeholder="Cantidad de repeticiones" required>
            
            <label for="fecha-inicial">Fecha Inicio:</label>
            <input type="date" id="fecha-inicial" name="fechaInicial" required>
            <br><br>
            <label for="fecha-final">Fecha Final:</label>
            <input type="date" id="fecha-final" name="fechaFinal" required>
            <br><br>

            <label for="habit-list">Seleccionar hábito:</label>
            <select id="habit-list" name="habitList[]" required>
                <!-- Aquí irán las opciones de hábitos -->
                <% habitos.forEach(habito => { %>
                    <option value="<%= habito.HABITO_ID %>"><%= habito.HABITO_NOM %></option>
                <% }) %>
            </select>

            <button type="submit" class="btn-confirm">Aceptar</button>
            <button type="button" class="btn-back" onclick="window.location.href='/gestor-objetivo';">Volver</button>
        </form>

    </main>

    // <!-- Incluir el footer -->

    <!-- Incluir el archivo JavaScript -->
    <script src="/js/crearObjetivos.js"></script>

    <!-- Incluir jQuery y Select2 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#habit-list').select2({
                tags: false,
                placeholder: "Selecciona un hábito",
                allowClear: false
            });
        });
    </script>
</body>
</html>
