<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/eliminarReglasStyle.css">
</head>
<body>
    <%- include('partial/_header') %>  <!-- Incluir el header -->
    
    <main>
        <h1>Eliminar Regla</h1>

        <!-- Listbox para seleccionar las reglas -->
        <label for="rule-listbox">Seleccione una regla para eliminar:</label>
        <select id="rule-listbox">
            <option value="" disabled selected>Seleccione una regla</option>
            <% reglas.forEach(regla => { %>
                <option value="<%= regla.REGLA_ID %>">
                    <%= regla.REGLA_NOM %>
                </option>
            <% }) %>
        </select>

        <button id="delete-button" class="btn-delete">Eliminar Regla</button>
        <button onclick='history.back()' class='btn-back'>Volver</button>
    </main>

   
    <!-- Incluir el archivo JavaScript -->
    <script src="/js/eliminarReglas.js"></script>
</body>
</html>