<!-- src/views/partials/_header.ejs -->
<link rel="stylesheet" href="/css/_header.css">
<header class="header">
    <div class="menu-container">
        <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
        <ul class="menu" id="dropdownMenu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/gestor-habitos">Gestionar Habitos</a></li>
            <li><a href="/gestor-reglas">Gestionar Reglas de productividad</a></li>
            <li><a href="/">Gestionar Objetivo</a></li>
            <li><a href="/">Historial Reglas</a></li>
            <li><a href="/">Historial Hábitos</a></li>
            <li><a href="/">Registrar Actividad</a></li>
            <li><a href="/">Importar Datos</a></li>
            <li><a href="/">Importar Datos</a></li>
        </ul>
    </div>
    <div class="right-container">
        <div class="date">
            <span id="currentDate"></span>
        </div>
        <a href="/"><img src="/images/logo.png" alt="Logo de Ponte el Hábito" class="logo"> </a>
    </div>
</header>
<script src="/js/menu.js"></script>
<script src="/js/date.js"></script>
